<% provide(:title, "Sign in") %>
<div class = "profileheader roundedtop">
    <h1>Sign in</h1>
</div>
<div class="info roundedbottom">

	<h5>New user? <%= link_to "Sign up!", signup_path %></h5>

    <p>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :username, :placeholder => "username"%>
      </br></br>
      <%= f.password_field :password, :placeholder => "password" %>
    </br></br>
      <div class="center"><%= f.submit "Sign in", class: "btn btn-large btn-primary" %></div>
    <% end %>
    </p>
    
</div>
