<% provide(:title, "Sign in") %>
<div class = "profileheader roundedtop">
    <h1>Sign in</h1>
</div>
<div class="info roundedbottom">

    <p>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>
    </br></br>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    </p>

    <h5>New user? <%= link_to "Sign up now!", signup_path %></h5>

</div>