<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<h2>Profile</h2>

<div class = "profile">
<p>
  Name: <%= @user.name %>
  </br>Username: <%= @user.username %>
  </br>Email: <%= @user.email %>
  </br>Date of Birth: <%= @user.dob %>
</p>
<% if current_user?(@user) || admin_user?(@user) == "admin" %>
    <h3><%= link_to "Edit", edit_user_path(@user) %> | 
    <%= link_to "Delete my account", @user, method: :delete,
                                  data: { confirm: "Are you sure? This action
                                  	cannot be undone." } %>
    </h3>
<% end %>
</div>

<h2>Narratives</h2>

<%= render :partial => @user.narratives %>