<div class = "info smallform roundedbottom">
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label "event name" %>
    <%= f.text_field :name %>

    <%= f.label "start date" %>
    <%= f.date_select :startdate, {:order => [:month, :day, :year], :start_year => 1900, :end_year => Time.now.year}, {:style => 'width: 120px'} %>

    <%= f.label "end date (optional)" %>
    <%= f.date_select :enddate, {:include_blank => true, :default => nil, :order => [:month, :day, :year], :start_year => 1900, :end_year => Time.now.year}, {:style => 'width: 120px'} %>

    <%= f.label :status %>
    <%= f.text_field :status %>

    <%= f.label "summary (optional)" %>
    <%= f.text_area :summary, {:style => 'width: 368px; height: 100px;'} %>
  </br></br>
    <%= f.submit "Save Event", class: "btn btn-large btn-primary" %>
<% end %>
</div>