<% provide(:title, @event.name) %>
<h1><%= @event.name %></h1>
<div class = "info">
<h1>Information</h1>
</br>
<p>
  Start date: <%= @event.startdate %>
  </br>End date: <%= @event.enddate %>
  </br>Status: <%= @event.status %>
  </br>Summary: <%= @event.summary %>
</p>
<h3>
<% if admin_user?(current_user) %>
    <%= link_to "Edit", edit_event_path(@event) %> | 
    <%= link_to "Delete", @event, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>
</h3>
</div>

<h2>Narratives</h2>
<% if !@event.users.include?(current_user) %>
<h4><%= link_to "Create Narrative", new_event_narrative_path(@event) %></h4>
</br></br>
<% end %>

<div class = "search">
<h4>Search Narratives for this Event:
<%= form_tag(@event, :class => 'form-search', :method => 'get') do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :content => nil, :class => 'btn btn-large btn-primary' %>
<% end %>
</h4>
</div>

<%= render :partial => @event.narratives.search(params[:search]).sort_by {|narrative|
	narrative.recommendations.size }.reverse %>