<% provide(:title, @event.name) %>
<div class = "profileheader roundedtop">
	<h1><%= @event.name %></h1>
</div>
<div class = "info roundedbottom">
<p>
  Start date: <%= @event.startdate %>
  </br>End date: <%= @event.enddate %>
  </br>Status: <%= @event.status %>
  </br>Summary: <%= @event.summary %>
</p>
<h3>
<% if admin_user?(current_user) %>
    <%= link_to "Edit", edit_event_path(@event) %> | 
    <%= link_to "Delete", @event, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>
</h3>
</div>
<%= render 'layouts/searchbar' %>
<div class = "small-holder roundedbottom">
<%= render :partial => @event.narratives.search(params[:search]).sort_by {|narrative|
	narrative.recommendations.size }.reverse %>
</div>