<% provide(:title, @event.name) %>
<p id="notice"><%= notice %></p>
<h1><%= @event.name %></h1>
<div class = "info">
<h1>Information</h1>
</br>
<p>
  Start date: <%= @event.startdate %>
  </br>End date: <%= @event.enddate %>
  </br>Status: <%= @event.status %>
  </br>Summary: <%= @event.summary %>
</p>
  <% if current_user.account == "admin" %>
    <%= link_to "Edit", edit_event_path(@event) %>
    <%= link_to "Delete", event, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
<h3></h3>
</div>

<h2>Narratives</h2>

<%= link_to "Create Narrative", new_event_narrative_path(@event) %>

<%= render :partial => @event.narratives %>