<%= form_for([@event, @event.narratives.build]) do |f| %>
  <% if @narrative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@narrative.errors.count, "error") %> prohibited this narrative from being saved:</h2>
      <ul>
      <% @narrative.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="contribute">
    <%= f.submit %>
  </div>
<% end %>