<div class="narrative">
<h1>Title: <%= narrative.name %></h1>
<% @user = User.find(narrative.user_id) %>
</br>
<p>
  <i>Author: <%= @user.name %>
  </br>Username: <%= link_to @user.username, user_path(@user) %>
  </br>Location: <%= narrative.location %></i>
  </br></br><%= simple_format(narrative.content) %>
</p>
<h3>
<% if current_user?(narrative.user) %>
	<%= link_to 'Edit', edit_narrative_path(narrative) %> | 
<% end %>
<% if current_user?(narrative.user) || admin_user?(current_user) %>
	<%= link_to "Delete", narrative, method: :delete,
                              data: { confirm: "You sure?" } %>
<% end %>
</h3>
</div>