<h1>Listing narratives</h1>

<table>
  <tr>
    <th>Event</th>
    <th>User</th>
    <th>Name</th>
    <th>Location</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @narratives.each do |narrative| %>
  <tr>
    <td><%= narrative.event_id %></td>
    <td><%= narrative.user_id %></td>
    <td><%= narrative.name %></td>
    <td><%= narrative.location %></td>
    <td><%= narrative.content %></td>
    <td><%= link_to 'Show', narrative %></td>
    <td><%= link_to 'Edit', edit_narrative_path(narrative) %></td>
    <td><%= link_to 'Destroy', narrative, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Narrative', new_narrative_path %>
