<% provide(:title, @narrative.name) %>
<div class = "profileheader roundedtop">
	<h1><%= @narrative.name %></h1>
</div>

<div class="info break-word roundedbottom">
<% if !@narrative.image_link.nil? && !(@narrative.image_link == "") %>
  	<%= link_to @narrative.image_link do %>
  		<%= image_tag @narrative.image_link, class: "medium" %>
  	<% end %>
<% end %>
<p>
	<% if @event.nil? %>
		<% event = Event.find(@narrative.event_id) %>
		<i>Event: <%= link_to event.name, event_path(event) %></i>
	<% end %>
  	<% if @user.nil? %>
  		<% user = User.find(@narrative.user_id) %>
  		</br><i>Author: <%= user.name %>
  		</br>Username: <%= link_to user.username, user_path(user) %></i>
  	<% end %>
  	</br><i>Location: <%= @narrative.location %></i>
  	</br>
  	</br><%= simple_format(@narrative.content) %>
</p>
<br style="clear:both;">
<h3>
	<% if current_user?(@narrative.user) %>
		<%= link_to 'Edit', edit_narrative_path(@narrative) %> | 
	<% end %>
	<% if current_user?(@narrative.user) || admin_user?(current_user) %>
		<%= link_to "Delete", @narrative, method: :delete,
                              data: { confirm: "You sure?" } %>
	<% end %>
</h3>
</div>
</br>

<% if !current_user?(@narrative.user) && signed_in? %>
<div class = "narr-search-bar roundedtop"><h1>Recommend this narrative</h1></div>
<div class = "recommendation roundedbottom">
	<% @recommendation = @narrative.recommendations.find_by_user_id(current_user.id) %>
	<% if @recommendation.nil? %>
		<%= render :partial => '/recommendations/form' %>
	<% else %>
		<%= render :partial => @recommendation %>
	<% end %>
</div>
<% end %>
