<% provide(:title, @narrative.name) %>
<div class="narrative">
<h1>Title: <%= @narrative.name %></h1>
</br>
<p>
	<% if @event.nil? %>
		<% event = Event.find(@narrative.event_id) %>
		<i>Event: <%= link_to event.name, event_path(event) %>
	<% end %>
  	<% if @user.nil? %>
  		<% user = User.find(@narrative.user_id) %>
  		</br><i>Author: <%= user.name %>
  		</br>Username: <%= link_to user.username, user_path(user) %>
  	<% end %>
  	</br>Location: <%= @narrative.location %></i>
  	</br>
  	</br><%= simple_format(@narrative.content) %>
</p>
<h3>
	<% if current_user?(@narrative.user) %>
		<%= link_to 'Edit', edit_narrative_path(@narrative) %> | 
	<% end %>
	<% if current_user?(@narrative.user) || admin_user?(current_user) %>
		<%= link_to "Delete", @narrative, method: :delete,
                              data: { confirm: "You sure?" } %>
	<% end %>
</h3>
</div>
<% if !current_user?(@narrative.user) && signed_in? %>
	<% @recommendation = @narrative.recommendations.find_by_user_id(current_user.id) %>
	<% if @recommendation.nil? %>
		<%= render :partial => '/recommendations/form' %>
	<% else %>
		<%= render :partial => @recommendation %>
	<% end %>
<% end %>