<!DOCTYPE html>
<html>
<head>
  	<title>WikiWitness | <%= yield(:title) %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "wikiwitness", 'getting_started.html', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
        	<li><%= link_to "Sign Up",    '/signup' %></li>
        	<li><%= link_to "Create Event",    '/create_event' %></li>
        	<li><%= link_to "Add Narrative",    '/add_narrative' %></li>
          	<li><%= link_to "Mission",    '/mission' %></li>
          	<li><%= link_to "Guidelines", '/guidelines' %></li>
          	<li><%= link_to "FAQ", '/faq' %></li>
          	<li><%= link_to "Contact Us", '/contact_us' %></li>
          	<li><%= link_to "Getting Started", '/getting_started' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
