<!DOCTYPE html>
<html>
<head>
  	<title>WikiWitness | <%= yield(:title) %></title>
  	<%= stylesheet_link_tag    'application' %>
  	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "custom", :media => "all" %>
  	<%= csrf_meta_tags %>
</head>
<body>
  <div class="container fill background-wood">
    <%= render 'layouts/header' %>
    <%= render 'layouts/subheader' %>
    <div class="holder">
    	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      
      <%= yield %>
      
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
</html>
